@font-face {
    font-family: 'Mono';
    src: url('fonts/Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'HelpMe', 'VCR OSD Mono', sans-serif;
    color: white;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    opacity: 0; 
    animation: fadeIn 2s forwards; 
}


.wallpaper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(wallpapers/hacker.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.nav-bar {
    position: fixed;
    top: 10px;  
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;  
    font-size: 18px;
}

.nav-bar a {
    text-decoration: none;
    color: white;  
    transition: color 0.3s ease, transform 0.3s ease; 
}

.nav-bar a.selected {
    color: #ffffff;  
    text-decoration: underline; 
}


.nav-bar a.home {
    color: white; 
}


.nav-bar a:hover {
    color: #865CD7;  
    transform: scale(1.1);  
}

.social-icon img {
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.social-icon:hover img {
    transform: scale(1.1);  
    filter: brightness(1.3);  
}

.social-icon {
    margin-right: 10px; 
    display: inline-block; 
}

.socials-title {
    margin-bottom: 10px; 
}


pre {
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    font-size: 10px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.box-contain {
    position: relative;
    display: flex;
    margin-top: 1em;
    width: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #C5C6D3;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(255, 255, 255, 0.1);
    transform-style: preserve-3d; 
    transition: transform 0.1s ease; 
}


.pfp {
    width: 110px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto 20px;
    padding: 5px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}


h3, p {
    color: #C5C6D3;
    text-align: center;
}


a {
    margin: 0 10px; 
    position: relative;
    color: #865CD7;  
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out; 
}

.fade-in-image {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }
    .intial-container {
        margin-top: 1200px;
    }
    .box-contain {
        flex-direction: column;
        align-items: center;
    }
    .box-brrr {
        max-width: 400px;
    }
    .box-brrr2 {
        max-width: 400px;
    }
    pre {
        font-size: 14px;
        overflow-y: auto;
    }
    .text {
        font-size: 8px;
        margin-bottom: 150px;
    }
}


#sparkles-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;  
    z-index: 1000;  
}

.sparkle {
    position: absolute;
    font-size: 20px; 
    pointer-events: none; 
    animation: sparkle-animation 0.8s ease-out forwards;
    user-select: none; 
    z-index: 9999; 
}

@keyframes sparkle-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}



.center-screen #mainContent img {
    position: relative;
    top: -50px;  
}

#mainContent img {
    transform: scale(0.7); 
}

#mainContent img {
    width: -150px;
    height: auto;
    display: block;  
    margin-bottom: 20px; 
}

#mainContent {
    text-align: center; 
}

#mainContent img {
    width: -150px;
    height: auto;
    display: block;
    margin: 0 auto 20px; 
}

html, body {
    overflow: hidden; 
    margin: 0;
    padding: 0;
    height: 100%;
}

